.square {
    border: 1px solid black;
    width: calc(100% / 16);
    height: 50px;
    background-color:bisque;
    box-sizing: border-box;
    padding-bottom: calc(100% / 16);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#resetBtn {
    margin: 10px;
    padding: 20px, 40px;
    font-size: 32px;
    background-color: lightskyblue;
    margin-left: 50%;
    cursor: pointer;
}
#resetBtn:hover {
    background-color: deepskyblue;
}

